@{
    ViewBag.Title = "系统菜单";
}

@Styles.Render("~/bundles/bootstrap-table/css")
@Scripts.Render("~/bundles/bootstrap-table/js")

@Styles.Render("~/bundles/sweetalert/css")
@Scripts.Render("~/bundles/sweetalert/js")

<style type="text/css">
    .modal-body > .row {margin-top: 1em;margin-bottom: 1em;}
    #Fonts_container{max-height:30rem;overflow-y:auto;}
</style>

<script type="text/javascript">
    window.curlocation = ['系统管理', '系统菜单管理'];
    $(function () {
        var cur_operatype;//当前操作类型
        LoadMenus();

        var $table = $('#table');
        $table.bootstrapTable({
            url: document.weburl + "odata/T_SysMenus",
            toolbar: '#toolbar',    //工具按钮用哪个容器
            showRefresh: false, //是否显示刷新按钮
            dataType: "json",
            method: 'get',
            height: $(window).height() - $("#header").height() - 200, //table 高度
            striped: true, //是否显示行间隔色
            singleSelect: true, //单选
            sortable: true, //是否启用排序
            showColumns: true, //字段筛选
            sortName: 'CreateTime',
            sortOrder: 'desc',
            dataLocale: "zh-CN", //表格汉化
            search: false, //显示搜索框
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 15, 20, 25], //分页选择
            pageNumber: 1, //初始化加载第一页，默认第一页
            pagination: true, //分页
            //minimumCountColumns: 2, //最少允许的列数
            clickToSelect: true, //是否启用点击选中行
            queryParamsType: "limit",
            onLoadSuccess: function (xhr) {
            },
            onLoadError: function (status) {

            },
            queryParams: function (params) {
                var queryParams = {};
                queryParams["$top"] = params.limit;
                queryParams["$skip"] = params.offset;
                queryParams["$count"] = true;
                queryParams["$filter"] = GetFilters();
                if (params.sort)
                    queryParams["$orderby"] = params.sort + " " + params.order;
                return queryParams;
            },
            sidePagination: "server", //服务端处理分页
            responseHandler: function (res) {
                var ret = {
                    total: res["@@odata.count"],
                    rows: res.value
                };
                return ret;
            },
            columns: [
                { checkbox: true, align: 'center', valign: 'middle' },
                {
                    title: '行号', width: 20, align: 'center', valign: 'middle',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                 {
                     title: '图标', field: 'MenuIcon', align: 'center', valign: 'middle', width: 20,
                     formatter: function (value) {
                         return "<i class='" + value + "'></i>";
                     }
                 },
                { title: '菜单名称', field: 'MenuName', align: 'center', valign: 'middle', sortable: true },
                { title: '上级菜单名称', field: 'ParentMenuName', align: 'center', valign: 'middle', sortable: true },
                {
                    title: '菜单等级', field: 'MenuLevel', align: 'center', valign: 'middle', sortable: true,
                    formatter: function (value) {
                        var _txt = value;
                        switch (value) {
                            case 1:
                                _txt = "一级菜单";
                                break;
                            case 2:
                                _txt = "二级菜单";
                                break;
                        }
                        return _txt;
                    }
                },
                {
                    title: '跳转地址', field: 'MenuUrl', align: 'center', valign: 'middle'
                },
                { title: '排序号', field: 'SortNum', align: 'center', valign: 'middle', sortable: true },
                {
                    title: '创建日期', field: 'CreateTime', align: 'center', valign: 'middle', sortable: true,
                    formatter: function (value) {
                        return $.web.dateFormat(value, "yyyy-MM-dd HH:mm");
                    }
                }
            ]
        });

        //查询
        $("#btn_query").click(function () {
            $table.bootstrapTable('refresh');
        });
        //新增
        $("#btn_Add").click(function () {
            $("#SysMenus_form")[0].reset();
            cur_operatype = "add";
            $("#txt_menu_level,#txt_menu_code").attr("disabled", false);
            $("#txt_menu_parent").attr("disabled", true);

            $("#txt_menu_icon").attr("class","");
            $("#Menus_Modal").modal("show");

        });

        //修改
        $("#btn_Edit").click(function () {
            var rowData = $table.bootstrapTable('getSelections');
            if (rowData.length == 0) { $.web.toast("请选择一行数据！"); return; }
            cur_operatype = "modify";
            rowData = rowData[0];

            $("#txt_menu_code").val(rowData.MenuId).attr("disabled", true);
            $("#txt_menu_name").val(rowData.MenuName);
            $("#txt_menu_parent").val(rowData.ParentId);
            $("#txt_menu_level").val(rowData.MenuLevel);
            $("#txt_menu_sort").val(rowData.SortNum);
            $("#txt_menu_url").val(rowData.MenuUrl);
            $("#txt_menu_icon").attr("class",rowData.MenuIcon);
            $("[name='menu_islink'][value='" + (rowData.Islink ? "1" : "0") + "']:radio").prop("checked", true);
            $("#txt_menu_level").attr("disabled", true);
            $("#txt_menu_parent").attr("disabled", rowData.MenuLevel==1);
            $("#Menus_Modal").modal("show");
        });
        //删除
        $("#btn_Delete").click(function () {
            var rowData = $table.bootstrapTable('getSelections');
            if (rowData.length == 0) { $.web.toast("请选择一行数据！"); return; }
            rowData = rowData[0];
            swal({
                title: "确认删除所选菜单数据?",
                text: "菜单一旦删除无法恢复!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是",
                cancelButtonText: "否",
                closeOnConfirm: false
            }, function () {
                SaveMenus({
                    menu: { MenuId: rowData.MenuId },
                    operatype: "delete"
                });
            });
        });

        $("#txt_menu_level").change(function () {
            var $this = $(this);
            switch ($("#txt_menu_level option:selected").val()) {
                case "1":
                    $("#txt_menu_parent").val("root").removeClass("hide").attr("disabled", true);
                    break;
                case "2":
                    $("#txt_menu_parent").val("blank").attr("disabled", false).find("[value='root']").addClass("hide");
                    break;
                default:
                    $("#txt_menu_parent").val("blank").attr("disabled", true);
                    break;
            }
        });
        //保存
        $("#btn_submit").click(function () {
            var _valid = true, _validList = [
                { selector: "#txt_menu_code", type: "text", errmsg: "菜单代码不可为空" },
                { selector: "#txt_menu_name", type: "text", errmsg: "菜单名称不可为空" },
                { selector: "#txt_menu_level", type: "select", errmsg: "菜单等级未选择" },
                { selector: "#txt_menu_parent", type: "select", errmsg: "上级菜单未选择" },
                { selector: "menu_islink", type: "radio", errmsg: "是否链接未选择" }
            ], errret = {
                cnt: 0,
                msg: []
            };

            $.each(_validList, function (_i, _t) {
                switch (_t.type) {
                    case "text":
                        if (!$(_t.selector).val()) { errret.cnt++; errret.msg.push(_t.errmsg); }
                        break;
                    case "select":
                        var selectedval = $(">option:selected", $(_t.selector)).val();
                        if (!selectedval || selectedval == "blank") { errret.cnt++; errret.msg.push(_t.errmsg); }
                        break;
                    case "radio":
                        var selectedval = $("[name='" + _t.selector + "']:radio:checked").val();
                        if (!selectedval) { errret.cnt++; errret.msg.push(_t.errmsg); }
                        break;
                }
            });
            if ($("#txt_menu_level>option:selected").val() == "2" && !$("#txt_menu_url").val()) {
                errret.cnt++; errret.msg.push("地址不可为空");
            }

            if ($("#txt_menu_sort").val() && !(/^[0-9]\d*$/.test($("#txt_menu_sort").val()))) {
                errret.cnt++; errret.msg.push("排序号必须为数字");
            }

            if (errret.cnt > 0) {
                $.web.toast({ text: errret.msg.join(","), duration: 5000 });
                return;
            }

            var _menu = {
                MenuId: $("#txt_menu_code").val(),
                MenuName: $("#txt_menu_name").val(),
                ParentId: $("#txt_menu_parent>option:selected").val(),
                ParentMenuName: $("#txt_menu_parent>option:selected").text(),
                Islink: $("[name='menu_islink']:radio:checked").val()=="0"?false:true,
                MenuLevel: $("#txt_menu_level>option:selected").val(),
                MenuIcon: $("#txt_menu_icon").attr("class")||null,
                SortNum: $("#txt_menu_sort").val() || 0,
                MenuUrl: $("#txt_menu_url").val()
            };
            
            var _obj = {
                menu: _menu,
                operatype: cur_operatype
            };

            SaveMenus(_obj);

        });

        $("#Sel_Fonts").click(function () {
            $("#Fonts_Modal").modal("show");
        });
    });


    function SaveMenus(data) {
        $.web.post("@Url.Content("~/XT/SysMenusSave")",data).done(function (xhr) {
            switch (xhr.Key) {
                case "success":
                    swal("操作成功", "你的操作已经成功执行", "success");
                    if (data.operatype != "delete") {
                        $("#SysMenus_form")[0].reset();
                        $("#Menus_Modal").modal("hide");
                        LoadMenus();
                    }
                    $('#table').bootstrapTable('refresh');
                    break;
                default:
                    swal("操作失败", xhr.Value, "error");
                    break;

            }
        });
    }


    function LoadMenus() {
        $.web.getAsync("@Url.Content("~/XT/GetSysTopMenus")").done(function (xhr) {
            if (xhr) {
                $("#txt_menu_parent>option:gt(1)").remove();
                $.each(xhr, function (_i, _t) {
                    $("#txt_menu_parent").append($("<option>", { "value": _t.key }).text(_t.name));
                });
            }
        });
    }

    function FontsModalCompelete() {
        $("#btn_sure").click(function () {
            var $ative = $("#Fonts_container .active");
            if ($ative.length == 0) {
                $.web.toast("请选择一个图标！");
                return false;
            }
            else {
                $("#txt_menu_icon").attr("class",$ative.attr("data-icons"));
            }
        });
    }


    //查询方法
    function GetFilters() {
        var filters = "IsDeleted eq false";
        filters += $("#query_menu_level>option:selected").val() != "all" ? " and (MenuLevel eq " + $("#query_menu_level>option:selected").val() + ")" : "";
        filters += $("#query_menu_name").val() ? " and (contains(MenuName,'" + $("#query_menu_name").val() + "'))" : "";
        return filters;
    }
</script>

<div class="container-fluid">
    <form method="post">
        <div class="panel-body nopadding">
            <div class="panel panel-default">
                <div class="panel-heading panel-headicon"><i class="fa fa-search"></i> <h5>查询条件</h5></div>

                <div class="panel-body">
                    <div class="row margin_tb_5">
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-th"></i> 菜单名称
                                </span>
                                <input type="text" class="form-control" id="query_menu_name" placeholder="请输入菜单名称" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-signal"></i> 菜单等级
                                </span>
                                <select class="form-control" id="query_menu_level">
                                    <option value="all">全部</option>
                                    <option value="1">一级菜单</option>
                                    <option value="2">二级菜单</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" id="btn_query" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> 查询</button>
                            <button type="reset" id="btn_reset" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i> 重置</button>
                        </div>
                    </div><!-- /.row -->
                </div>

            </div>
        </div>
    </form>

    <div id="toolbar" class="btn-group">
        <button id="btn_Add" type="button" class="btn btn-success">
            <span class="fa fa-plus" aria-hidden="true"></span> 新增
        </button>
        <button id="btn_Edit" type="button" class="btn btn-warning">
            <span class="fa fa-pencil" aria-hidden="true"></span> 修改
        </button>
        <button id="btn_Delete" type="button" class="btn btn-danger">
            <span class="fa fa-remove" aria-hidden="true"></span> 删除
        </button>
    </div>

    <table id="table"></table>
</div>

<form id="SysMenus_form">
    <div class="modal fade" id="Menus_Modal" tabindex="-1" role="dialog" aria-labelledby="Menus_ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Menus_ModalLabel">系统菜单维护</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="txt_menu_code" class="input-group-addon">菜单代码</label>
                                <input type="text" name="menu_code" class="form-control" id="txt_menu_code" placeholder="菜单代码" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="txt_menu_name" class="input-group-addon">菜单名称</label>
                                <input type="text" name="menu_name" class="form-control" id="txt_menu_name" placeholder="菜单名称" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">菜单等级</span>
                                <select class="form-control" id="txt_menu_level" name="menu_level">
                                    <option value="blank">--菜单等级--</option>
                                    <option value="1">一级菜单</option>
                                    <option value="2">二级菜单</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">上级菜单</span>
                                <select class="form-control" id="txt_menu_parent" name="menu_parent" disabled>
                                    <option value="blank">--请选择上级菜单--</option>
                                    <option class="hide" value="root">root</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="txt_menu_icon" class="input-group-addon">菜单图标</label>
                                <div class="form-control text-center"><i id="txt_menu_icon"></i></div>
                                <span class="input-group-btn">
                                    <a class="btn btn-success" role="button" id="Sel_Fonts"
                                       href="@Url.Content("~/Common/Share_Fonts")"
                                       data-ajax-id="Sel_Fonts"
                                       data-ajax-update="#Fonts_container"
                                       data-ajax="true"
                                       data-ajax-success="FontsModalCompelete">
                                        <i class="fa fa-search"></i> 选择
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon">是否链接</label>
                                <div class="form-control">
                                        <label class="radio-inline"><input type="radio" name="menu_islink" value="1" />是</label>
                                        <label class="radio-inline"><input type="radio" name="menu_islink" value="0" />否</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="txt_menu_url" class="input-group-addon">详细地址</label>
                                <input type="text" class="form-control" name="menu_url" id="txt_menu_url" placeholder="请填写url地址">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="txt_menu_name" class="input-group-addon">排序号</label>
                                <input type="text" class="form-control" id="txt_menu_sort" placeholder="排序号">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="Fonts_Modal" tabindex="-1" role="dialog" aria-labelledby="Fonts_ModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Fonts_ModalLabel">字体图标</h4>
            </div>
            <div class="modal-body" id="Fonts_container">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" id="btn_sure" class="btn btn-success" data-dismiss="modal"><span class="fa fa-ok" aria-hidden="true"></span>确认</button>
            </div>
        </div>
    </div>
</div>